{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<link type="text/css" rel="stylesheet" href="{% static 'vendor/materialize/dist/css/materialize.min.css' %}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<title>Heyo!</title>
	</head>
	<body>
	</body>
	{% csrf_token %}
	<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'vendor/materialize/dist/js/materialize.min.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
	(function($){
  		$(function(){
    	$('.button-collapse').sideNav();
  	});
	})(jQuery); // end of jQuery name space
	</script>
	<script id="heyojs" src="{% static 'heyo.js' %}" type="text/javascript"></script>
</html>
